/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    transition: background-color 0.3s ease;
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" viewBox="0 0 24 24"><circle cx="12" cy="12" r="9" fill="%23FF0000" stroke="%23000000" stroke-width="2"></circle></svg>') 12 12, auto;
}

/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: white;
}

.chat-container {
    width: 400px;
    max-width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.chat-container.dark-mode {
    background-color: #333;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.header {
    background-color: #8B0000;
    color: white;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-theme-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.chat-box {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
    border-top: 1px solid #ddd;
}

.chat-history {
    display: flex;
    flex-direction: column;
}

.chat-history .message {
    padding: 8px 15px;
    margin: 5px 0;
    border-radius: 10px;
    background-color: #f0f0f0;
    max-width: 70%;
}

.chat-history .bot {
    background-color: #e0e0e0;
    align-self: flex-start;
}

.chat-history .user {
    background-color: #8b0000;
    color: white;
    align-self: flex-end;
}

.user-input {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

#user-message {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.custom-button button {
    border: none;
    width: 140px;
    height: 50px;
    color: #fff;
    display: flex;
    background: #000;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    transition: transform 0.2s ease;
}

.custom-button button p {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}


